/* style.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('background-1.png') center center no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #f0e9ff;
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.form-container input {
    width: 93%;
    padding: 0.6rem 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    background-color: #f5f0ff;
    color: #333;
    transition: box-shadow 0.3s ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #bb86fc;
}

button {
    padding: 10px 25px;
    font-size: 1em;
    background-color: #7e57c2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #9575cd;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

#inscription {
    background: none;
    text-decoration: underline;

}

#forgot{
    background: none;
    text-decoration: underline;
}

#register-btn {
    background: none;
    text-decoration: underline;
}

.password-wrapper {
    position: relative;
    display: inline-block;
}

.password-wrapper input {
    margin-bottom: 0;
}

.toggle-eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 28px;
    height: 24px;
    z-index: 2;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: rgba(33, 24, 73, 1);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    width: 320px;
    color: #f0e9ff;
    
}

/* Titre */
.form-container h1 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.8em;
    color: #fff;
    }
    