/* style.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('login_image.png') center center no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #f0e9ff;
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
}

input {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    width: 250px;
    margin-bottom: 15px;
    font-size: 1em;
    background-color: #f5f0ff;
    color: #333;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #bb86fc;
}

button {
    padding: 10px 25px;
    font-size: 1em;
    background-color: #7e57c2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #9575cd;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

#inscription {
    background: none;
    text-decoration: underline;

}

#forgot{
    background: none;
    text-decoration: underline;
}

#register-btn {
    background: none;
    text-decoration: underline;
}