.blackbox {
	border: 2px solid black;
	/* margin ajoute une marge avec les autres conteneurs de même niveau */
	margin: 5px;
}

.redbox {
	border: 2px solid red;
	margin: 5px;
	/* ajuster la largeur du conteneur à la largeur des enfants */
	width: fit-content;

}

.greenbox {
	border: 2px solid green;
	margin: 5px;
	width: fit-content;
}

.row_container {
	margin: 5px;
	/* Pour arranger les enfants d'un conteneur en ligne  */
	display: flex;
}

/* Pour forcer un margin entre les enfants du conteneur */
.row_container > * {
	margin: 5px;
}